<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1, maximu-scale=1">
        <title>TEST</title>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>
        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
            <div class="sidebar-brand">
                <h2><span class="las la-link"></span> <span>RG</span>
                </h2>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="index.html"><span class="las la-home"></span>
                            <span> Dashboard</span></a>
                    </li>
                    <li>
                        <a href="register.html" class="active"><span class="las la-database"></span>
                            <span> Insert Data</span></a>
                    </li>
                    <li>
                        <a href="retrieve.html"><span class="las la-vote-yea"></span>
                            <span> GET Data</span></a>
                    </li>
                    <li>
                        <a href="verify.html"><span class="las la-user-check"></span>
                            <span> Verifying Data</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h1>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>

                    Dashboard

                </h1>
                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="Search here"/>
                </div>
                <div class="user-wrapper">
                    <img src="static/images/user.png" width="40px" height="40px">
                    <div>
                        <h4>Testing</h4>
                        <small>Super Admin</small>
                    </div>
                </div>
            </header>
            <main>
                <div class="container">
                  <form action="">
                    <div class="row">
                      <div class="col-25">
                        <label for="tHash">Transcript Hash</label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="tHash" name="Transcript Hash" placeholder="bytes 32">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-25">
                        <label for="sID">Student ID</label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="sID" name="Student ID" placeholder="bytes 32">
                      </div>
                      <div class="row">
                        <input type="submit" id="submit"></input>
                      </div>
                    </div>
                  </form>
                </div>
            </main>
        </div>

        </body>
</html>